<?xml version="1.0"?>
<launch>

  <param name="roll_cam"          value="0.0" />
  <param name="pitch_cam"         value="-0.7853982" />
  <param name="yaw_cam"           value="3.1415926" />
  <param name="gamma_world"       value="3.1415926" />
  <node pkg="controller" type="auto_fly" name="autoFly" output="screen">
    <param name="/env/use_sim" value="0" />   <!-- 0 是真实飞机, 1 是使用仿真  -->
  </node>

  <node pkg="rviz" type="rviz" name="visual" args="-d $(find controller)/visual/rviz/visual.rviz" />

</launch>