<?xml version="1.0"?>
<launch>

  <param name="/env/use_sim" value= "0" type="int"/>   <!-- 0 是真实飞机, 1 是使用仿真  -->
  <param name="/UAVparam/MaxVel" value= "1.0" type="double"/>
  <param name="/UAVparam/MaxAcc" value= "1.0" type="double"/>
  <param name="/UAVparam/MaxYawRate" value= "1.57" type="double"/>

  <node pkg="controller" type="auto_fly" name="autoFly" output="screen">
  </node>

  <node pkg="rviz" type="rviz" name="visual" args="-d $(find controller)/visual/rviz/visual.rviz" />

</launch>